@media only screen and (max-width: 600px) {
  .reasons {
    padding-top: 5rem !important;
  }

  .reasons > div {
    display: block;
    padding: 0rem 1rem;
    > div {
      width: 100%;
      padding: 0rem 1rem;
      &:last-child{
       margin-top: 5rem; 
       img{
        margin-left: 0px;
       }
      }
    }
  }
  .sevice-box {
    display: flex;
    align-items: center;
    width: 12rem;
    height: 5rem;
  }
}
