@media only screen and (max-width: 600px) {
   .show-expertise {
    display: block;
     & > div{
        margin-bottom: 20px;
    }
    & div:last-child{
        margin-bottom: 0px;
    }
   }
  }
  